<form #passwordForm="ngForm" (ngSubmit)="changePassword()">
    <div class="row heading">
        <div class="col-lg-5"></div>
        <h1 class="col-lg-4">Change Password</h1>
        <h2 class="col-lg-3">Welcome {{employeeName}}</h2>

    </div>

    <div class="form-group row">
        <div class="col-lg-3"></div>
        <label for="inputPassword" class="col-lg-2 col-form-label">Enter Current Password:</label>
        <div class="col-lg-3">
            <input type="password" class="form-control" name="oldPassword" required pattern=".{5,}"
                [(ngModel)]="user.oldPassword" [class.is-invalid]="oldPassword.invalid && oldPassword.touched"
                #oldPassword="ngModel">
            <div *ngIf="oldPassword.errors && (oldPassword.valid || oldPassword.touched)">
                <small class="text-danger" *ngIf="oldPassword.errors.required">Please enter the
                    oldPassword</small>
                <small class="text-danger" *ngIf="oldPassword.errors.pattern">oldPassword should be minimum 6
                    length</small>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="form-group row">
        <div class="col-lg-3"></div>
        <label for="inputPassword" class="col-lg-2 col-form-label">Enter New Password:</label>
        <div class="col-lg-3">
            <input type="password" class="form-control" name="newPassword" required pattern=".{6,}"
                [(ngModel)]="user.newPassword" [class.is-invalid]="newPassword.invalid && newPassword.touched"
                #newPassword="ngModel">
            <div *ngIf="newPassword.errors && (newPassword.valid || newPassword.touched)">
                <small class="text-danger" *ngIf="newPassword.errors.required">Please enter the
                    newPassword</small>
                <small class="text-danger" *ngIf="newPassword.errors.pattern">newPassword should be minimum 6
                    length</small>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="form-group row">
        <div class="col-lg-3"></div>
        <label for="inputPassword" class="col-lg-2 col-form-label">Confirm New Password:</label>
        <div class="col-lg-3">
            <input type="password" class="form-control" name="confirmPassword" required
                [(ngModel)]="user.confirmPassword"
                [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" #confirmPassword="ngModel">
            <small class="text-danger"
                *ngIf="confirmPassword.errors && confirmPassword.touched && confirmPassword.errors.required">Please
                enter
                the
                confirmPassword</small>
            <small class="text-danger"
                *ngIf="confirmPassword.valid && confirmPassword.value!=newPassword.value">confirmPassword do not
                match with
                newPassword</small>

        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="form-group row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button [disabled]="passwordForm.form.invalid || confirmPassword.value!=newPassword.value"
                class="btn btn-primary">Submit</button>
        </div>
        <div class="col-lg-5"></div>

    </div>
</form>