<div class="row heading">
    <div class="col-lg-5"></div>
    <div class="col-lg-4">
        <h1>Cheque Requests</h1>
    </div>
    <div class="col-lg-3">
        <h2>Welcome {{employeeName}}</h2>
    </div>
</div>


<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <button class="btn btn-outline-info mx-1" (click)="changeCat('all')">All</button>
        <button class="btn btn-outline-info mx-1" (click)="changeCat('pending')">Pending</button>
        <button class=" btn btn-outline-info mx-1" (click)="changeCat('processing')">Processing</button>
        <button class=" btn btn-outline-info mx-1" (click)="changeCat('rejected')">Rejected</button>
    </div>
</div>
<div class=" col-lg-1">
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Request Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Details</th>
                    <th scope="col">Response</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let req of data | paginate:{id:'listing_pagination' ,itemsPerPage:10,currentPage:page,totalItems:totalRecords}; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{req.chequeNumber }}</td>
                    <td>{{ req.requestDate | date: 'dd-MM-yyyy'}}</td>
                    <td>{{ req.requestType}}</td>
                    <td>{{ req.requestDetails}}</td>
                    <td>
                        <p *ngIf="req.response==null">Under review</p>{{ req.response}}
                    </td>
                    <td>{{ req.status}}</td>
                    <td><button class="btn btn-outline-info p-1 m-0" (click)="showDetails(req.chequeNumber)">Edit
                            Request
                        </button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 d-flex justify-content-center p-3">
        <pagination-controls id="listing_pagination" (pageChange)="page = $event">
        </pagination-controls>
    </div>
    <div class="col-lg-1"></div>
</div>